side-effects-cache=false
auto-install-peers=true
strict-peer-dependencies=false

# Allow build scripts for these packages
allowedDeprecatedVersions=*
enable-pre-post-scripts=true
ignore-scripts=false
